body{
	font-family: "tahoma";
	font-size: 11pt;
	color: #6e6e6e;
        background-image:url('../imagenes/fondo-interes.jpg');
        background-attachment:fixed;
}
fieldset{
	border-radius: 10px;
	border-color: #dedede;
	border-style: solid;
	border-width: 2px;
	padding: 5px 5px 5px 5px;
	background-color: #f2f2f2;
	opacity: 90%;
}
legend{
	font-family: "tahoma";
	font-size:12pt;
	color:#FFF;
	font-weight: bold;
	border-radius: 10px;
	border-color: #dedede;
	border-style: solid;
	border-width: 2px;
	background-color: #414f5c;
	padding: 5px 5px 5px 5px;
}
.sombra{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.imagenCentral{
	width: 40%;
	border-radius: 25px;
	padding: 5px 5px 5px 5px;
	background-color: #f2f2f2;
	opacity: 95%;
	-webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,1);
	box-shadow: 10px 10px 5px -10px rgba(0,0,0,1);
}
.textos{
	font-family: "tahoma";
	font-size: 10pt;
	font-color: #6e6e6e;
	font-weight: bold;
	padding: 2px 2px 5px 2px;
}
.textosNormal{
	font-family: "tahoma";
	font-size: 10pt;
	font-color: #6e6e6e;
	/*font-weight: bold;*/
	padding: 2px 2px 5px 2px;
}
.textosError{
	font-family: "tahoma";
	font-size: 9pt;
	color: #6e0309;
	/*font-weight: bold;*/
	padding: 2px 2px 5px 2px;
}
.textosOk{
	font-family: "tahoma";
	font-size: 9pt;
	color: #414f5c;
	/*font-weight: bold;*/
	padding: 2px 2px 5px 2px;
}
.textosCajas{
	font-family: "tahoma";
	size: 10pt;
	color:#7a7a7a;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	border-color: #dedede;
	border-style: solid;
	border-width: 2px;
	width: 200px;
	height: 20px;
	opacity: 95%;
}
.textosSelect{
	font-family: "tahoma";
	size: 10pt;
	color:#7a7a7a;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	border-color: #dedede;
	border-style: solid;
	border-width: 2px;
	width: 200px;
	height: 30px;
	opacity: 95%;
}
.botonAccion{
	font-family: "tahoma";
	font-weight: bold;
	font-size: 8pt;
	color:#f2f2f2;
	padding: 5px 5px 5px 5px;
	border-radius: 20px;
	border-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	width: 150px;
	height: 32px;
	background-color: #414f5c;
}
.botonCancelar{
	font-family: "tahoma";
	font-weight: bold;
	font-size: 8pt;
	color:#FFF;
	padding: 5px 5px 5px 5px;
	border-radius: 20px;
	border-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	width: 150px;
	height: 32px;
	background-color: #7b7b7b;
}